.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.right-section {
  border: var(--inputs-border-width) solid var(--color-logo);
  color: var(--colors_logo);
  border-radius: var(--card-corner-radius);
}
.grecaptcha-badge {
  visibility: hidden;
}


.contact {
  width: 100%;
}

.field__input:focus,
.field:after {
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-logo-rgba), var(--inputs-border-opacity));
  border: none;
}
.field:hover.field:after {
  box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-logo-rgba),var(--inputs-border-opacity));
}

.field label {
  color: rgba(var(--color-logo-rgba), 0.75);
}